<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar Contratos</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${contrato.id}"></dd>

            <dt class = "col-sm-2">Cliente</dt>
            <dd class = "col-sm-10" th:text="|${contrato.cliente.nombre} ${contrato.cliente.apellido}|"></dd>

            <dt class = "col-sm-2">Servicio</dt>
            <dd class = "col-sm-10" th:text="${contrato.servicio.nombre}"></dd>

            <dt class = "col-sm-2">Tiempo</dt>
            <dd class = "col-sm-10" th:text="${contrato.tiempo}"></dd>

            <dt class = "col-sm-2">Fecha de Inicio</dt>
            <dd class = "col-sm-10" th:text="${contrato.fechaInicio}"></dd>

            <dt class = "col-sm-2">Fecha de Finalizacion</dt>
            <dd class = "col-sm-10" th:text="${contrato.fechaFinal}"></dd>
        </dl>

        <form th:action="@{/contratos/delete}" method="post">
            <input type="hidden" name="Id" th:value="${contrato.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/contratos}">Regresar</a>
        </form>

    </div>
</div>