<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Editar el contrato</h1>
    <form th:action="@{/contratos/update}" method="post">
        <input type="hidden" name="id" th:value="${contrato.id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" th:value="${contrato.nombre}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cliente">Cliente:</label>
                    <select id="cliente" name="clienteId" class="form-control" required>
                        <option th:each="cliente : ${clientes}"
                                th:value="${cliente.id}"
                                th:text="|${cliente.nombre} ${cliente.apellido}|"
                                th:selected="${cliente.id} == ${contrato.cliente.id}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="servicio">Servicio:</label>
                    <select id="servicio" name="servicioId" class="form-control" required>
                        <option th:each="servicio : ${servicios}"
                                th:value="${servicio.id}"
                                th:text="${servicio.nombre}"
                                th:selected="${servicio.id} == ${contrato.servicio.id}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tiempo">Tiempo</label>
                    <input type="text" class="form-control" id="tiempo" name="tiempo" th:value="${contrato.tiempo}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaInicio">Fecha de Inicio</label>
                    <input type="datetime-local" class="form-control" id="fechaInicio" name="fechaInicio" th:value="${contrato.fechaInicio}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaFinal">Fecha de Finalizacion</label>
                    <input type="datetime-local" class="form-control" id="fechaFinal" name="fechaFinal" th:value="${contrato.fechaFinal}" required>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-floppy-disk"></i> Guardar cambios
                    </button> |
                    <a href="/contratos">
                        <i class="fa-solid fa-tent-arrow-turn-left"></i> Regresar
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>