<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de contratos</h1>
    <a th:href="@{/contratos/create}" class="btn btn-outline-primary">Nuev Contrato</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cliente</th>
            <th>Servicio</th>
            <th>Tiempo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${contratos}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="|${item.cliente.nombre} ${item.cliente.apellido}|"></td>
            <td th:text="${item.servicio.nombre}"></td>
            <td th:text="${item.tiempo}"></td>
            <td>
                <a th:href="@{/contratos/details/{id} (id = ${item.id}) }" class="btn btn-outline-secondary">Detalles</a> |
                <a th:href="@{/contratos/edit/{id} (id = ${item.id}) }" class="btn btn-outline-info">Editar</a> |
                <a th:href="@{/contratos/remove/{id} (id = ${item.id}) }" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/contratos?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>