<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Crear nuevo servicio</h1>
    <form th:action="@{/servicios/save}" th:object="${servicio}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del servicio" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" th:field="*{descripcion}" id="descripcion" placeholder="Descripcion del servicio" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tiempo">Tiempo</label>
                    <input type="text" class="form-control" th:field="*{tiempo}" id="tiempo" placeholder="Escriba el tiempo del servicio" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" th:field="*{precio}" id="precio" placeholder="Escriba el precio del servicio" required min="0" max="1000" step="0.01">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-floppy-disk"></i> Guardar
        </button> |
        <a th:href="@{/servicios}">
            <i class="fa-solid fa-tent-arrow-turn-left"></i> Regresar
        </a>
    </form>
</div>