<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar servicio</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${servicio.nombre}"></dd>

            <dt class = "col-sm-2">Descripcion</dt>
            <dd class = "col-sm-10" th:text="${servicio.descripcion}"></dd>

            <dt class = "col-sm-2">Tiempo</dt>
            <dd class = "col-sm-10" th:text="${servicio.tiempo}"></dd>

            <dt class = "col-sm-2">Precio</dt>
            <dd class = "col-sm-10" th:text="${servicio.precio}"></dd>

        </dl>

        <form th:action="@{/servicios/delete}" method="post">
            <input type="hidden" name="Id" th:value="${servicio.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/servicios}">
                <i class="fa-solid fa-trash"></i> Regresar
            </a>
        </form>

    </div>
</div>