<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">

   <h1 class="text-center" style="margin-top: 190px">¡Bienvenido/a!</h1>

   <div sec:authorize="isAuthenticated()" >
      <h3 class="text-center" sec:authentication="name"></h3>
   </div>

   <div sec:authorize="isAnonymous()" class="alert alert-danger text-center" role="alert">
      Debes iniciar sesión para poder utilizar la aplicación.
   </div>

</div>

